{% extends "metadataparser/base_metadataparser.html" %}

{% load i18n metadataparsertags %}

{% block appendheader %}

{% export_menu entities %}

{% canedit entity %}
<div class="btn-group pull-right">
  <a class="btn" href="{% url 'entity_edit' entity.id %}">{% trans "edit" %}</a>
</div>
{% endcanedit %}

{% if entity.name %}
  <h2>{% l10n_property entity.name lang %}</h2>
{% else %}
  <h2>{{ entity }}</h2>
{% endif %}

<table class="table table-striped">
  <tbody>
    <tr>
      <td class="first-col"><strong>{% trans "Entity ID" %}:</strong></td>
      <td>{{ entity.entityid }}</td>
    </tr>
    <tr>
      <td class="first-col"><strong>{% trans "Entity type" %}:</strong></td>
      <td>{{ entity.types|display_etype }}</td>
    </tr>
    <tr>
      <td class="first-col"><strong>{% trans "Registration policy" %}:</strong></td>
      <td>{{ entity.registration_authority }} <i>({% trans "since" %} {{ entity.registration_instant|date:"d/m/Y" }})</i></td>
    </tr>
    <tr>
      <td class="first-col"><strong>{% trans "Federations" %}:</strong></td>
      <td>
          <ul id="pipelist">
              {% for federation in entity.federations.all %}
              <li><a href="{% url 'federation_view' federation.slug %}">{{ federation }}</a></li>
              {% endfor %}
          </ul>
      </td>
    </tr>
  </tbody>
</table>

{% endblock %}

{% block content %}

{% for logo in entity.logos %}
  {% if logo.external %}
     <img class="img-polaroid" alt="{{ logo.alt }}" src="{{ logo.file }}">
  {% else %}
     <img class="img-polaroid" alt="{{ logo.alt }}" src="{{ MEDIA_URL }}{{ logo.file }}">
  {% endif %}
{% endfor %}

<ul class="entity unstyled">
<div class="btn-group pull-right">
 <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      {% trans "language" %} [{{lang}}]
      <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    {% for lang in entity.languages|split:" " %}
    <li><a href="?lang={{ lang }}">{{ lang }}</a></li>
    {% endfor %}
  </ul>
</div>
  <li>
  <strong class="labelview">{% trans "Entity properties" %}:</strong>
  </li>
</ul>

<table class="table table-striped">
  <tbody>
    <tr>
      <td class="first-col"><strong>{% trans "Display name" %}:</strong></td>
      {% if entity.name %}
      <td>{% l10n_property entity.name lang %}</td>
      {% else %}
      <td>{% trans "No information provided." %}</td>
      {% endif %}
    </tr>
    <tr>
      <td class="first-col"><strong>{% trans "Description" %}:</strong></td>
      {% if entity.description %}
      <td>{% l10n_property entity.description lang %}</td>
      {% else %}
      <td>{% trans "No information provided." %}</td>
      {% endif %}
    </tr>
    <tr>
      <td class="first-col"><strong>{% trans "Information URL" %}:</strong></td>
      {% if entity.infoUrl %}
      <td><a href="{% l10n_property entity.infoUrl lang %}">{% l10n_property entity.infoUrl lang %}</a></td>
      {% else %}
      <td>{% trans "No information provided." %}</td>
      {% endif %}
    </tr>
    <tr>
      <td class="first-col"><strong>{% trans "Privacy page URL" %}:</strong></td>
      {% if entity.privacyUrl %}
      <td><a href="{% l10n_property entity.privacyUrl lang %}">{% l10n_property entity.privacyUrl lang %}</a></td>
      {% else %}
      <td>{% trans "No information provided." %}</td>
      {% endif %}
    </tr>
    <tr>
      <td class="first-col"><strong>{% trans "Organization name" %}:</strong></td>
      {% if entity.organization %}
      <td>
          {% organization_property entity.organization 'name' lang %}
      </td>
      {% else %}
      <td>{% trans "No information provided." %}</td>
      {% endif %}
    </tr>
    <tr>
      <td class="first-col"><strong>{% trans "Organization display name" %}:</strong></td>
      {% if entity.organization %}
      <td>
          {% organization_property entity.organization 'displayName' lang %}
      </td>
      {% else %}
      <td>{% trans "No information provided." %}</td>
      {% endif %}
    </tr>
    <tr>
      <td class="first-col"><strong>{% trans "Organization URL" %}:</strong></td>
      {% if entity.organization %}
      <td>
          <a href="{% organization_property entity.organization 'URL' lang %}">{% organization_property entity.organization 'URL' lang %}</a><br/>
      </td>
      {% else %}
      <td>{% trans "No information provided." %}</td>
      {% endif %}
    </tr>
  </tbody>
</table>

<ul class="entity unstyled">
  <li>
  <strong class="labelview">{% trans "Technical details" %}:</strong>
  </li>
</ul>

<table class="table table-striped">
  <tbody>
    <tr>
      <td class="first-col"><strong>{% trans "Supported protocols" %}:</strong></td>
      {% if entity.protocols and entity.display_protocols|length > 1 %}
      <td>
          <ul>
              {% for proto in entity.display_protocols %}
                  <li>{{ proto }}</li>
              {% endfor %}
          </ul>
      </td>
      {% else %}
      <td>{% trans "No information provided." %}</td>
      {% endif %}
    </tr>
    <tr>
      <td class="first-col"><strong>{% trans "Attribute scopes" %}:</strong></td>
      {% if entity.scopes %}
      <td>
          <ul>
              {% for scope in entity.scopes|split:" " %}
              <li>{{ scope }}</li>
              {% endfor %}
          </ul>
      </td>
      {% else %}
      <td>{% trans "No information provided." %}</td>
      {% endif %}
    </tr>
    <tr>
      <td class="first-col"><strong>{% trans "Required attributes" %}:</strong></td>
      {% if entity.attributes and entity.display_attributes.items|length > 0 %}
      <td>
          <ul>
              {% for attr in entity.display_attributes.items %}
                  <li>{{ attr.1 }} [<a href="http://oid-info.com/get/{{ attr.0 }}" target="_blank">{% trans "info" %}</a>]</li>
              {% endfor %}
          </ul>
      </td>
      {% else %}
      <td>{% trans "No information provided." %}</td>
      {% endif %}
    </tr>
    <tr>
      <td class="first-col"><strong>{% trans "Optional attributes" %}:</strong></td>
      {% if entity.attributes_optional and entity.display_attributes_optional.items|length > 0 %}
      <td>
          <ul>
              {% for attr in entity.display_attributes_optional.items %}
                  <li>{{ attr.1 }} [<a href="http://oid-info.com/get/{{ attr.0 }}" target="_blank">{% trans "info" %}</a>]</li>
              {% endfor %}
          </ul>
      </td>
      {% else %}
      <td>{% trans "No information provided." %}</td>
      {% endif %}
    </tr>
    <tr>
      <td class="first-col"><strong>{% trans "Contacts" %}:</strong></td>
      {% if entity.contacts %}
      <td>
          <ul>
              {% for cont in entity.contacts %}
                  <li><a href="{{ cont.email }}" target="_blank">{{ cont.name }}</a> [{{ cont.type }}]</li>
              {% endfor %}
          </ul>
      </td>
      {% else %}
      <td>{% trans "No information provided." %}</td>
      {% endif %}
    </tr>
  </tbody>
</table>

{% endblock %}
