{% extends "metadataparser/base_metadataparser.html" %}
{% load i18n metadataparsertags %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}js/google_jsapi.js"></script>

<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Type', 'Number'],
            {% for etype in entity_types %}
            ['{{ etype|display_etype }}', {% entities_count federation.entity_set etype %}],
            {% endfor %}
            ['', 0]
        ]);

        var options = {
            pieHole: 0.4,
            pieSliceText: 'value',
            legend: 'right',
            chartArea: {width: '70%', height: '80%'} 
        };

        var chart = new google.visualization.PieChart(document.getElementById('fed_donut'));
        chart.draw(data, options);

	google.visualization.events.addListener(chart, 'select', function() {
            var row = (chart.getSelection()[0]) ? chart.getSelection()[0].row : -1;
            if (row >= 0) {
                window.location.href = "{{ federation_path }}?entity_type=" + data.getFormattedValue(row, 0) + "SSODescriptor";
            }
            else {
                window.location.href = "{{ federation_path }}?";
            }
        });

        {% if entity_type != 'All' %}
        for (var i = 0; i < data.getNumberOfRows(); ++i) {
            if (data.getFormattedValue(i, 0) == '{{ entity_type|display_etype }}') {
                chart.setSelection([{ 'row': i }]);
            }
        }
        {% endif %}
    }
</script>

<script language="javascript">
    function update_entities() {
        $.ajax({
            type: "GET",
            url: "{% url 'federation_update_entities' federation.slug %}"
        });

        window.setTimeout(updater, 1000);
    }

    function updater() {
        $.ajax ({
             type: "GET",
             url: "{% url 'entityupdate_progress' federation.slug %}",
             dataType: "json",
             cache: false,
             success: function(jsondata, success) {
                  if (jsondata) {
                      if (jsondata.done) {
                          $('#saveModal').modal('hide');
                          window.location = window.location.pathname;
                      }
                      else {
                          var progress = Math.round(100 * (jsondata.num / jsondata.tot));
                          $('.bar').css('width', progress + '%');
                          $('.sr-only').text(jsondata.num + '/' + jsondata.tot);
                          window.setTimeout(updater, 500);
                      }
                  }
             }
        });
    }

    {% if update_entities == 'true' %}
    $(document).ready(function() {
        $('#saveModal').modal('show');
        update_entities();
    });
    {% endif %}
</script>

<div id="saveModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="saveModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="saveModalLabel">{% trans "Saving Federation Data" %}</h3>
  </div>
  <div class="modal-body">
    <p>{% trans "Please wait while federation data is being saved to database." %}</p>
    <div class="progress">
      <div class="bar progress-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;a">
        <span class="sr-only">0/0</span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <p>{% trans "Processing federation data..." %}</p>
  </div>
</div>
{% endblock %}

{% block appendheader %}
{% canedit federation %}
<div class="btn-group pull-right">
 <a class="btn" href="{% url 'federation_edit' federation.slug %}">{% trans "edit" %}</a>
 {% if add_entity %}
 &nbsp;<a class="btn" href="{% url 'entity_add' federation.slug %}">{% trans "add entity" %}</a>
 {% endif %}
 &nbsp;<a class="btn btn-primary" href="#" onclick="update_entities(); return false" data-toggle="modal" data-target="#saveModal">{% trans "update entities" %}</a>
</div>
{% endcanedit %}
<h1>
 {{ federation }}
</h1>
{% endblock %}


{% block content %}
<table width="100%">
<tr>
<td><div id="fed_donut" style="width: 500px; height: 250px"></div></td>
<td align="right">
{% if federation.logo %}
<p><img alt="{{ federation }} logo" src="{{ MEDIA_URL }}{{ federation.logo }}"/></p>
{% endif %}
</td>
</tr>
</table>
{% if federation.url %}
<p><a href="{{ federation.url }}">{% trans "Federation external website" %}</a></p>
{% endif %}


{% entity_list entities %}

{% endblock %}
